html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Basic ui

button,
input,
select,
textarea {
  border: 1px solid black;
}

input {
  padding: 0 0.25rem;
}

button {
  padding: 0 1rem;

  &:hover {
    color: #2196f3;
    border-color: #2196f3;
  }

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: underline;

  &:hover {
    color: #2196f3;
  }
}

.action-item {
  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
  }
}
